%before {
	content: "";
	position: absolute;
	top: 6px;
	left: 0;
	display: inline-block;
	margin-right: 20px;
	width: 60px;
	height: 1px;
	background-color: $prime-black-color;
}

.section-title {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.18;
	letter-spacing: 0.05em;
	color: $prime-black-color;
}

.text-section {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.02em;
	color: $primary-text-color;
	@media screen and (min-width: 1200px) {
		font-size: 18px;
		line-height: 1.67;
		max-width: 500px;
	}
}

.before {
	&::before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		margin-top: -1px;
		width: 60px;
		height: 1px;
		background-color: $prime-black-color;
	}
}
.section-description {
	position: relative;
	padding-left: 80px;
	margin-bottom: 20px;

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: $prime-black-color;
	&:before {
		@extend %before;
	}
}
