$prime-orange-color: #ff6c00;
$prime-black-color: #303030;
$prime-white-color: #ffffff;
$light-grey-color: #9da4bd;
$primary-text-color: #555555;
$background-color: #f7f7f7;
$footer-background: #191c26;
$input-color: rgba(157, 164, 189, 0.4);
$header-color: rgba(157, 164, 189, 0.6);
