<section class="aboutus" id="about-us">
	<div class="container">
		<div class="overlay">
			<div class="aboutus-img">
				<ul class="aboutus-img-list">
					<li class="aboutus-img-item">
						<picture class="aboutus-img-photo">
							<source
								media="(max-width: 1199px)"
								srcset="
									/images/about-us-section/about-us-tablet1-1x-min.jpg 1x,
									/images/about-us-section/about-us-tablet1-2x-min.jpg 2x
								"
							/>
							<source
								media="(min-width: 1200px)"
								srcset="
									/images/about-us-section/about-us-desktop1-1x-min.jpg 1x,
									/images/about-us-section/about-us-desktop1-2x-min.jpg 2x
								"
							/>
							<img src="/images/about-us-section/about-us-tablet1-1x-min.jpg" alt="стрижка бороды" />
						</picture>
					</li>

					<li class="aboutus-img-item">
						<picture class="aboutus-img-photo">
							<source
								media="(max-width: 1199px)"
								srcset="
									/images/about-us-section/about-us-tablet2-1x-min.jpg 1x,
									/images/about-us-section/about-us-tablet2-2x-min.jpg 2x
								"
							/>
							<source
								media="(min-width: 1200px)"
								srcset="
									/images/about-us-section/about-us-desktop2-1x-min.jpg 1x,
									/images/about-us-section/about-us-desktop2-2x-min.jpg 2x
								"
							/>
							<img src="/images/about-us-section/about-us-tablet2-1x-min.jpg" alt="стрижка головы" />
						</picture>
					</li>
				</ul>
			</div>

			<div class="text-container">

				<p class="section-description">О нас</p>


				<h2 class="aboutus-title section-title">Лучший Барбершоп твоего города</h2>
				<p class="aboutus-text text-section">
					Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.
				</p>
				<p class="aboutus-text-second">
					Мы команда, которая никогда не останавливается на достигнутом и жаждет перемен. И когда ты попадешь в руки
					нашего мастера, то уже никогда не сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
					волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам приходит!
				</p>
				<button class="btn btn-light" type="button" data-about-open>онлайн-запись</button>
			</div>
		</div>
	</div>
</section>
