<section class="features container">
    <div class="features-block">

            <p class="section-description">старая традиционная школа</p>
   
 

     
        <h2 class="features-title section-title">Почему приходят именно к нам?</h2>
        <p class="features-text text-section">

            О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
            чем 10 раз прочитать.
        </p>
    </div>
    <div>
        <ul class="features-list">
            <li class="features-item"><span class="features-score">600<sup class="features-score-sub">+</sup></span><span class="features-score-text">Довольных клиентов
                 в день</span></li>
            <li class="features-item"><span class="features-score">50<sup class="features-score-sub">+</sup></span><span class="features-score-text">Наград за отличный
                 сервис</span></li>
            <li class="features-item"><span class="features-score">20<sup class="features-score-sub">+</sup></span><span class="features-score-text">Лучших мастеров
                 Киева</span></li>
            <li class="features-item"><span class="features-score">100<sup class="features-score-sub">+</sup></span><span class="features-score-text">Подарков постоянным 
                клиентам</span></li>
    </div>
</section> 
