<footer class="footer">
	<div class="form-contacts">
		<div class="footer-form" id="online-form">
			<div class="footer-form-text">
				<h2 class="footer-title section-title online">Онлайн-запись</h2>
				<form id="form">
					<label class="footer-input">
						<input type="text" minlength="2" maxlength="25" placeholder=" " pattern="^[a-zA-Z-А-Яа-яЁё\s]+$" required />
						<span class="input-name">Имя*</span>
					</label>
					<label class="footer-input">
						<input type="tel" placeholder=" " pattern="[0-9]{10}" required />
						<span class="input-name">Телефон*</span>
					</label>

					<div class="footer-input textarea">
						<textarea class="message" name="message" id="message" cols="30" placeholder=" "></textarea>
						<span class="input-name">сообщение</span>
					</div>
					<button class="btn">отправить</button>
				</form>
			</div>
		</div>
		<div class="footer-contacts" id="contacts">
			<h2 class="footer-title section-title">Контакты</h2>
			<div class="contacts-div">
				<address class="address-block">
					<a class="address" href="https://goo.gl/maps/9qjQQuVDEaeKE8F9A" target="_blank">
						<svg class="footer-icon" width="24px" height="24px">
							<use href="./images/project-icons.svg#map"></use>
						</svg>
						ул. Васильковая, 7А
						<span class="address-element">,</span>
						Киев, 08132
					</a>
					<a class="address" href="tel:380441111111">
						<svg class="footer-icon" width="24px" height="24px">
							<use href="./images/project-icons.svg#phone"></use>
						</svg>
						+38 044 111 11 11
					</a>
					<a class="address mail" href="mailto:barbershop@email.com">
						<svg class="footer-icon" width="24px" height="24px">
							<use href="./images/project-icons.svg#mail"></use>
						</svg>
						barbershop@email.com
					</a>
				</address>
				<div class="worktime">
					<p class="section-description worktime-text">время работы</p>

					<p class="address time">Ежедневно с 9:00 до 22:00</p>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<span class="copyright-text">
			<svg class="copyright-icon" width="12px" height="12px">
				<use href="./images/project-icons.svg#group"></use>
			</svg>
			Copyright 2020
		</span>
		<ul class="social-footer">
			<li class="section-description insta">
				<a href="https://www.instagram.com/" target="_blank" class="social-footer-link">Instagram</a>
			</li>
			<li class="social-footer-item">
				<a href="https://www.youtube.com/" target="_blank" class="social-footer-link">Youtube</a>
			</li>
		</ul>
	</div>
</footer>
