<section class="portfolio-section">
	<div class="container">
		<h2 class="visually-hidden">Портфолио</h2>

		<p class="section-description portfolio-title">На латинском языке "барба" означает "борода"</p>

		<ul class="portfolio">
			<li class="portfolio-card">
				<picture class="portfolio-img-photo">
					<source
						media="(max-width: 767px)"
						srcset="
							/images/portfolio-section/portfolio-mobile1-1x-min.jpg 1x,
							/images/portfolio-section/portfolio-mobile1-2x-min.jpg 2x
						"
					/>
					<source
						media="(min-width: 768px) and (max-width: 1199px)"
						srcset="
							/images/portfolio-section/portfolio-tablet1-1x-min.jpg 1x,
							/images/portfolio-section/portfolio-tablet1-2x-min.jpg 2x
						"
					/>
					<source
						media="(min-width: 1200px)"
						srcset="
							/images/portfolio-section/portfolio-desktop1-1x-min.jpg 1x,
							/images/portfolio-section/portfolio-desktop1-2x-min.jpg 2x
						"
					/>
					<img src="/images/portfolio-section/portfolio-mobile1-1x-min.jpg" alt="" />
				</picture>
			</li>
			<li class="portfolio-card">
				<picture class="portfolio-img-photo">
					<source
						media="(max-width: 767px)"
						srcset="
							/images/portfolio-section/portfolio-mobile2-1x-min.jpg 1x,
							/images/portfolio-section/portfolio-mobile2-2x-min.jpg 2x
						"
					/>
					<source
						media="(min-width: 768px) and (max-width: 1199px)"
						srcset="
							/images/portfolio-section/portfolio-tablet2-1x-min.jpg 1x,
							/images/portfolio-section/portfolio-tablet2-2x-min.jpg 2x
						"
					/>
					<source
						media="(min-width: 1200px)"
						srcset="
							/images/portfolio-section/portfolio-desktop2-1x-min.jpg 1x,
							/images/portfolio-section/portfolio-desktop2-2x-min.jpg 2x
						"
					/>
					<img src="/images/portfolio-section/portfolio-mobile1-1x-min.jpg" alt="Бекстейдж борода" />
				</picture>
			</li>
			<li class="portfolio-card">
				<picture class="portfolio-img-photo">
					<source
						media="(max-width: 767px)"
						srcset="
							/images/portfolio-section/portfolio-mobile3-1x-min.jpg 1x,
							/images/portfolio-section/portfolio-mobile3-2x-min.jpg 2x
						"
					/>
					<source
						media="(min-width: 768px) and (max-width: 1199px)"
						srcset="
							/images/portfolio-section/portfolio-tablet3-1x-min.jpg 1x,
							/images/portfolio-section/portfolio-tablet3-2x-min.jpg 2x
						"
					/>
					<source
						media="(min-width: 1200px)"
						srcset="
							/images/portfolio-section/portfolio-desktop3-1x-min.jpg 1x,
							/images/portfolio-section/portfolio-desktop3-2x-min.jpg 2x
						"
					/>
					<img src="/images/portfolio-section/portfolio-mobile3-1x-min.jpg" alt="Бекстейдж бритье" />
				</picture>
			</li>
			<li class="portfolio-card">
				<picture class="portfolio-img-photo">
					<source
						media="(max-width: 767px)"
						srcset="
							/images/portfolio-section/portfolio-mobile4-1x-min.jpg 1x,
							/images/portfolio-section/portfolio-mobile4-2x-min.jpg 2x
						"
					/>
					<source
						media="(min-width: 768px) and (max-width: 1199px)"
						srcset="
							/images/portfolio-section/portfolio-tablet4-1x-min.jpg 1x,
							/images/portfolio-section/portfolio-tablet4-2x-min.jpg 2x
						"
					/>
					<source
						media="(min-width: 1200px)"
						srcset="
							/images/portfolio-section/portfolio-desktop4-1x-min.jpg 1x,
							/images/portfolio-section/portfolio-desktop4-2x-min.jpg 2x
						"
					/>
					<img src="/images/portfolio-section/portfolio-mobile4-1x-min.jpg" alt="Бекстейдж" />
				</picture>
			</li>
		</ul>
	</div>
</section>
