<section class="price-section" id="price">
	<div class="container">
		<p class="section-description price-subtitle">Проведи время в компании лучших мастеров</p>

		<h2 class="price-title section-title">Услуги и цены</h2>

		<ul class="price-list">
			<li class="price-list-item">
				Мужская стрижка
				<span class="price-list-value">от 300 грн.</span>
			</li>
			<li class="price-list-item">
				Стрижка бороды
				<span class="price-list-value">от 200 грн.</span>
			</li>
			<li class="price-list-item">
				Стрижка усов
				<span class="price-list-value">от 200 грн.</span>
			</li>
			<li class="price-list-item">
				Бритье опасной бритвой
				<span class="price-list-value">от 200 грн.</span>
			</li>
			<li class="price-list-item">
				Cтрижка у стажера
				<span class="price-list-value">от 50 грн.</span>
			</li>
			<li class="price-list-item">
				Стрижка под насадку
				<span class="price-list-value">от 200 грн.</span>
			</li>
			<li class="price-list-item">
				Детская стрижка (до 12 лет)
				<span class="price-list-value">от 300 грн.</span>
			</li>
			<li class="price-list-item">
				Камуфлирование седины
				<span class="price-list-value">от 200 грн.</span>
			</li>
		</ul>
		<div class="price-list-desktop">
			<ul class="price-list-part">
				<li class="price-list-item">
					Мужская стрижка
					<span class="price-list-value">от 300 грн.</span>
				</li>
				<li class="price-list-item">
					Стрижка бороды
					<span class="price-list-value">от 200 грн.</span>
				</li>
				<li class="price-list-item">
					Стрижка усов
					<span class="price-list-value">от 200 грн.</span>
				</li>
				<li class="price-list-item">
					Бритье опасной бритвой
					<span class="price-list-value">от 200 грн.</span>
				</li>
			</ul>
			<ul class="price-list-part second">
				<li class="price-list-item">
					Cтрижка у стажера
					<span class="price-list-value">от 50 грн.</span>
				</li>
				<li class="price-list-item">
					Стрижка под насадку
					<span class="price-list-value">от 200 грн.</span>
				</li>
				<li class="price-list-item">
					Детская стрижка (до 12 лет)
					<span class="price-list-value">от 300 грн.</span>
				</li>
				<li class="price-list-item">
					Камуфлирование седины
					<span class="price-list-value">от 200 грн.</span>
				</li>
			</ul>
		</div>
		<button class="btn button-price" type="button" data-price-open>онлайн-запись</button>
	</div>
</section>
