<section class="team" id="team">
	<div class="container team-container">
		<div class="team-name">

			<p class="section-description">для настоящих ценителей атмосферы</p>
	

			<h2 class="team-title section-title">Наши мастера</h2>

		</div>
		<ul class="team-cards">
			<li class="flex-card">
				<div class="card">
					<picture class="card-img">
						<source
							media="(max-width: 767px)"
							srcset="
								images/master-section/master-mobile1-1x-min.jpg 1x,
								images/master-section/master-mobile1-2x-min.jpg 2x
							"
						/>
						<source
							media="(min-width: 768px) and (max-width: 1199px)"
							srcset="
								images/master-section/master-tablet1-1x-min.jpg 1x,
								images/master-section/master-tablet1-2x-min.jpg 2x
							"
						/>
						<source
							media="(min-width: 1200px)"
							srcset="
								images/master-section/master-desktop1-1x-min.jpg 1x,
								images/master-section/master-desktop1-2x-min.jpg 2x
							"
						/>
						<img src="/images/portfolio-section/portfolio-mobile1-1x-min.jpg" alt="" />
					</picture>
					<div class="card">
						<div class="card-content">
							<p class="worker-name">John Smith</p>
							<p class="position">Extreme Barber</p>
							<ul class="socials-flex">
								<li class="social-item">
									<a class="social-link" href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
										<svg class="social-svg" width="20" height="20">
											<use href="./images/project-icons.svg#icon-instagram"></use>
										</svg>
									</a>
								</li>
								<li class="social-item">
									<a class="social-link" href="https://twitter.com/explore" target="_blank" aria-label="Twitter">
										<svg class="social-svg" width="20" height="20">
											<use href="./images/project-icons.svg#icon-twitter"></use>
										</svg>
									</a>
								</li>
								<li class="social-item">
									<a class="social-link" href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
										<svg class="social-svg" width="20" height="20">
											<use href="./images/project-icons.svg#icon-facebook"></use>
										</svg>
									</a>
								</li>
								<li class="social-item">
									<a class="social-link" href="https://www.linkedin.com/" target="_blank" aria-label="Linkedin">
										<svg class="social-svg" width="20" height="20">
											<use href="./images/project-icons.svg#icon-linkedin"></use>
										</svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="flex-card">
				<div class="card">
					<picture class="card-img">
						<source
							media="(max-width: 767px)"
							srcset="
								images/master-section/master-mobile2-1x-min.jpg 1x,
								images/master-section/master-mobile2-2x-min.jpg 2x
							"
						/>
						<source
							media="(min-width: 768px) and (max-width: 1199px)"
							srcset="
								images/master-section/master-tablet2-1x-min.jpg 1x,
								images/master-section/master-tablet2-2x-min.jpg 2x
							"
						/>
						<source
							media="(min-width: 1200px)"
							srcset="
								images/master-section/master-desktop2-1x-min.jpg 1x,
								images/master-section/master-desktop2-2x-min.jpg 2x
							"
						/>
						<img src="/images/portfolio-section/portfolio-mobile1-1x-min.jpg" alt="" />
					</picture>
					<div class="card">
						<div class="card-content">
							<p class="worker-name">Michele Doe</p>
							<p class="position">Extreme Barber</p>
							<ul class="socials-flex">
								<li class="social-item">
									<a class="social-link" href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
										<svg class="social-svg" width="20" height="20">
											<use href="./images/project-icons.svg#icon-instagram"></use>
										</svg>
									</a>
								</li>
								<li class="social-item">
									<a class="social-link" href="https://twitter.com/explore" target="_blank" aria-label="Twitter">
										<svg class="social-svg" width="20" height="20">
											<use href="./images/project-icons.svg#icon-twitter"></use>
										</svg>
									</a>
								</li>
								<li class="social-item">
									<a class="social-link" href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
										<svg class="social-svg" width="20" height="20">
											<use href="./images/project-icons.svg#icon-facebook"></use>
										</svg>
									</a>
								</li>
								<li class="social-item">
									<a class="social-link" href="https://www.linkedin.com/" target="_blank" aria-label="Linkedin">
										<svg class="social-svg" width="20" height="20">
											<use href="./images/project-icons.svg#icon-linkedin"></use>
										</svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="flex-card">
				<div class="card">
					<picture class="card-img">
						<source
							media="(max-width: 767px)"
							srcset="
								images/master-section/master-mobile3-1x-min.jpg 1x,
								images/master-section/master-mobile3-2x-min.jpg 2x
							"
						/>
						<source
							media="(min-width: 768px) and (max-width: 1199px)"
							srcset="
								images/master-section/master-tablet3-1x-min.jpg 1x,
								images/master-section/master-tablet3-2x-min.jpg 2x
							"
						/>
						<source
							media="(min-width: 1200px)"
							srcset="
								images/master-section/master-desktop3-1x-min.jpg 1x,
								images/master-section/master-desktop3-2x-min.jpg 2x
							"
						/>
						<img src="/images/portfolio-section/portfolio-mobile1-1x-min.jpg" alt="" />
					</picture>
					<div class="card-content">
						<p class="worker-name">Alan Black</p>
						<p class="position">Extreme Barber</p>
						<ul class="socials-flex">
							<li class="social-item">
								<a class="social-link" href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
									<svg class="social-svg" width="20" height="20">
										<use href="./images/project-icons.svg#icon-instagram"></use>
									</svg>
								</a>
							</li>
							<li class="social-item">
								<a class="social-link" href="https://twitter.com/explore" target="_blank" aria-label="Twitter">
									<svg class="social-svg" width="20" height="20">
										<use href="./images/project-icons.svg#icon-twitter"></use>
									</svg>
								</a>
							</li>
							<li class="social-item">
								<a class="social-link" href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
									<svg class="social-svg" width="20" height="20">
										<use href="./images/project-icons.svg#icon-facebook"></use>
									</svg>
								</a>
							</li>
							<li class="social-item">
								<a class="social-link" href="https://www.linkedin.com/" target="_blank" aria-label="Linkedin">
									<svg class="social-svg" width="20" height="20">
										<use href="./images/project-icons.svg#icon-linkedin"></use>
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
