.price-section {
	background-color: #111319;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	@media screen and (max-width: 767px) {
		background-image: url(./../images/price-section-png/price-mobile-1x-min.png);
		@media (min-resolution: 2dppx) {
			background-image: url(./../images/price-section-png/price-mobile-2x-min.png);
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		background-image: url(./../images/price-section-png/price-tablet-1x-min.png);
		@media (min-resolution: 2dppx) {
			background-image: url(./../images/price-section-png/price-tablet-2x-min.png);
		}
	}
	@media screen and (min-width: 1200px) {
		background-image: url(./../images/price-section-png/price-desktop-1x-min.png);
		@media (min-resolution: 2dppx) {
			background-image: url(./../images/price-section-png/price-desktop-2x-min.png);
		}
	}
}

.section-description.price-subtitle {
	color: $header-color;
	&::before {

		background-color: $header-color;
	}
}

.price-title {
	margin-bottom: 44px;
	color: $prime-white-color;
}
.price-list {
	padding: 30px;
	margin-bottom: 50px;
	background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

	@media screen and (max-width: 410px) {
		padding: 20px;
	}
	@media screen and (min-width: 768px) {
		padding: 30px 40px;
	}
	@media screen and (min-width: 1200px) {
		display: none;
	}
	&-desktop {
		display: flex;
	}
	&-part {
		width: 50%;
		padding: 30px 40px;
		margin-bottom: 50px;
		background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
		@media screen and (max-width: 1199px) {
			display: none;
		}
		&.second {
			background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
		}
	}
}

.price-list-item {
	display: flex;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 2.14;
	letter-spacing: 0.02em;
	color: $light-grey-color;

	&:last-child {
		margin-bottom: 0;
	}
	@media screen and (max-width: 410px) {
		font-size: 10px;
	}

	@media screen and (min-width: 768px) {
		font-size: 18px;
	}
	&::before {
		content: "";
		border-bottom: 1px solid rgba(157, 164, 189, 0.12);
		flex-grow: 1;
		order: 2;
		margin: 0 6px 6px 6px;
	}
}

.price-list-value {
	order: 3;
}
.button-price {
	display: flex;
	margin: 0 auto;
	justify-content: center;
}
